@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<form action="/home/inser2" method="get">
    <
    
    <label for="NameInput">Name:</label>
    <input type="text" class="form-control" name="name" id="NameInput" required/>

    <label for="LaengeInput">Länge:</label>
    <input type="number" class="form-control" id="LaengeInput" required name="laenge"/>

    <label for="Tiefgang"Tiefgang>Tiefgang</label>
    <input type="number" class="form-control" id="Tiefgang" name="tiefgang" required/>
    
    <label for="Motorleistung">Motorleistung</label>
    <input type="number" class="form-control" id="Motorleistung" required name="motorleistung"/>
    
    <label for="IstSegler">Ist Segler</label>
    <input type="checkbox" class="form-check-input" id="IstSegler" name="istsegler"/>
    
    <label for="Baujahr">Baujahr</label>
    <input type="text" class="form-control" id="Baujahr" required name="baujahr"/>
    <button type="submit" class="btn btn-primary" id="CreateButton">Create Boat</button>
</form>
<div>

</div>
</body>
</html>