@page
@model WebApp.Views.Home.zweite

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Ich bin zweite</h2>
    <a href="/home/index">zurück</a>
    <a href="/admin/index2">admin</a>
</div>
</body>
</html>